.Timer {
    display: flex;
    font-size: 15px;
    position: relative;
    top: 30%;
    margin: 0;
}

.Box {
    margin: 0 10px;
    top: 0;
    display: flex;
    flex-direction: column;
}

.Box p {
    margin: 0;
    font-weight: 800;

}